.flyer-image-wrapper {
  position: relative;
  width: 100%;
  display: block;
}

.flyer-image-wrapper .flyer-image {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.flyer-image-wrapper .flyer-image.loaded {
  opacity: 1;
}

.flyer-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  pointer-events: none;
  z-index: 1;
}
